@import "../../../assets/styles/main.scss";

.footer {
  color: #000000;
  background-position: center;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
  position: relative;
  height: 500px;
}
